---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   13px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$chaotikum-color:  #e67206;
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      $chaotikum-color;


$grey-color:       $chaotikum-color;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 5%);

// Width of the content area
$content-width:    1050px;

$on-palm:          600px;
$on-laptop:        800px;

.blog {
  width: 800px;
}

.thumbnail {
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block; /* makes it fit in like an <img> */
    background-size: cover; /* or contain */
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.rightsidebar {
  float:right;
  width:200px;
}

.thumbnaillicense {
  position: absolute;
  bottom: 0;
  width:200px;
  height: 20px;
}

.transparent {
  background:rgba(255,255,255,0.5);
}

.blogpost {
  overflow:auto;
}

.postimage {
  float:left;
  width:200px;
  font-size: 0.3cm;
}

.postpreview {
  float:right;
  width:500px;
}

.project {
  width: 800px;
}

.projectbox {
  float:right;
  width:220px;
  background:rgba(230,230,230,0.5);
}

#about {
  background:rgba(230,230,230,0.5);
  margin: 5px;
  padding: 5px;

}

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
